<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="petryk_helloworld_display_text">
        <observer name="petryk_change_display_text" instance="Petryk\HelloWorld\Observer\ChangeDisplayText"/>
    </event>
</config>
